# IDE - VSCode
.vscode/*
.vs/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Exceptions
!minmax_cols.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/

# System Files
.DS_Store
Thumbs.db

# Folders
ExcelOutput/
ImportedPickles/
sample data/
Output/
AutomaticReportMaking/Input/
AutomaticReportMaking/Output/
AutomaticReportMaking/TemporaryStoredFiles/
EVHI Data Cubulus/
saveTemporaryPickles/
Automatic excel calculations/Output/
Automatic excel calculations/TemporaryStoredFiles/
Automatic excel calculations/Input/*
!Automatic excel calculations/Input/Template document.docx
!Automatic excel calculations/Input/Uitwerk light uurbasis zonder koeler RM-new.xlsm

# Ignore larger files
*.pickle
*.dll
*.csv
*.ffs_db
*.txt
*.pdf
*.pyc
*.pkl
*.bak

